
.navbar-item{
    display: inline-block;
    padding: 10px;
}
.navbar-item-name:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navbar-item-name::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.navbar-item-name{
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:link{
    text-decoration: none;
    color: black;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 440px;
}
.contact{
    min-width: 20%;
    box-shadow: 5px 5px black;
    border: 2px solid black;
}
.input-item{
    border: none;
    height: 30px;
}
#email{
    border-right: 2px solid black;
    background-color: white;
}
#email-item::-webkit-input-placeholder,#email-item{
    text-indent: 10px;
}
#send{
    background-color: white;
}
#send:hover{
    cursor: pointer;
}
.contact-item{
    display: inline-flex;
    border-radius: 0%;
    outline: none;
}
*:focus {
    outline: none;
}
.social-media{
    background-color: black;
    color: white;
    text-align: center;
    font-size: larger;
    width: 100%;
    margin-top: 50px;
    padding: 20px 0 20px 0;

}
.icon-item{
    display: inline-block;
    border: 1px solid white;
    width: max-content;
    margin-left: 10px;
}
.fa-brands{
    padding: 9px;
    box-shadow: 2px 2px white;
    border: 2px solid white;
}
.law{
    justify-content: center;
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
.law-item{
    display: inline-block;
}
.law-item-name{
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.law-item-name:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.law-item-name::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}